<div class="page-tpl">
  <div class="container">
    <header class="page-header">
      <h2>
        {{page.title}}
      </h2>      
    </header>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
  